# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# repository
.vercel
.turbo
.next
node_modules
dist

# debug
*-debug.log*
*-error.log*

# local env files
.env*
!.env.example

# miscellaneous
*.tsbuildinfo
*.tgz
